:root {
  --green-200: hsl(148, 38%, 91%);
  --green-600: hsl(169, 82%, 27%);
  --red: hsl(0, 66%, 54%);

  --white: white;
  --grey-500: hsl(186, 15%, 59%);
  --grey-900: hsl(187, 24%, 22%);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*:has(::before, ::after) {
  box-sizing: border-box;
}
img,
video,
picture {
  max-width: 100%;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
}
input,
textarea {
  outline: none;
  display: block;
}
button {
  user-select: none;
}

body {
  font-family: "Karla", sans-serif;
  background-color: var(--green-200);
  color: var(--grey-900);
}

.wrapper {
  width: 100%;
  min-height: 100dvh;
  display: grid;
  place-items: center;
}

.success-msg {
  position: fixed;
  left: 50%;
  top: 10px;
  transform: translateX(-50%);
  padding: 1.5rem;
  background-color: var(--green-600);
  color: var(--white);
  z-index: 999;
  border-radius: 10px;
}
.success-msg .msg-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-block: 0.5rem;
}

.form-container {
  --_gap: 0.75rem;
  max-width: min(90%, 650px);
  margin-inline: auto;
  background-color: var(--white);
  padding: 1rem;
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  gap: var(--_gap);
}

.form-container h1 {
  flex: 100%;
}

.form-container label {
  width: 100%;
}

.form-container label.show-error span {
  color: var(--red);
}

.form-container label span {
  display: block;
  margin-block-end: 0.25rem;
  font-size: 0.9em;
}

.form-container input {
  width: 100%;
  outline: none;
  padding: 0.5rem;
  transition: border 100ms;
  border: solid 1px var(--grey-900);
  border-radius: 5px;
  &:is(:hover, :focus-within) {
    border-color: var(--green-600);
  }
}
.form-container label.show-error input {
  border-color: var(--red);
}

/* Start Query Type */
.form-container > .query {
  width: 100%;
}

.form-container .query.show-error p {
  color: var(--red);
}

.form-container .query .forms {
  display: flex;
  justify-content: space-between;
  gap: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}

.form-container .query label {
  padding: 0.5rem 1.5rem;
  border: solid 1px var(--grey-900);
  border-radius: 5px;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  position: relative;

  &:is(:hover, :focus-within) {
    border-color: var(--green-600);
  }

  & * {
    margin: 0;
    padding: 0;
    display: inline;
    width: auto;
  }

  &::before {
    content: "";
    height: 15px;
    aspect-ratio: 1/1;
    position: relative;
    border: solid 1px var(--grey-900);
    border-radius: 50%;
  }
}

/* Hide the browser's default radio button */
.form-container .query input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.form-container .query label:has(input:checked)::before {
  background-image: url(./images/icon-radio-selected.svg);
  background-position: center center;
}

.form-container .query span {
  font-size: 1.1em;
  margin-inline-start: 0.75rem;
}

.form-container .query .forms + span {
  color: var(--red);
}
/* End Query Type */

@media (min-width: 768px) {
  .half-width {
    display: block;
    flex: 1;
    width: clac(50% - var(--_gap));
  }
}

.form-container textarea {
  width: 100%;
  min-height: 100px;
  padding: 0.5rem;
  font-size: 1.25em;
  transition: border 100ms;
  border: solid 1px var(--grey-900);
  border-radius: 5px;
  resize: none;
  &:is(:hover, :focus-within) {
    border-color: var(--green-600);
  }
}

/* Start Aggremenet Checkbox*/
.form-container label:has(input[type="checkbox"]) {
  padding-block: 0.5rem;
  position: relative;

  display: flex;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;

  user-select: none;
}

/* Hide the browser's default checkbox */
.form-container label [type="checkbox"] {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
  width: 100%;
}

/* Check mark */
.form-container label:has(input[type="checkbox"])::before {
  content: "";
  position: relative;
  height: 15px;
  aspect-ratio: 1 / 1;
  margin-inline-end: 0.5rem;
  border: solid 1px var(--grey-900);
}

.form-container label:has(input[type="checkbox"]:checked)::before {
  background-image: url("./images/icon-checkbox-check.svg");
  background-position: center center;
  border-color: transparent;
}
[type="checkbox"] + span {
  color: var(--grey-900) !important;
}
/* End Aggremenet Checkbox*/

.form-btn {
  width: 100%;
  padding: 1.25rem;
  border-radius: 10px;
  background-color: var(--green-600);
  outline: none;
  border: none;
  color: var(--white);
  font-weight: bold;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 200ms;
}

@media (hover) {
  .form-btn:hover {
    background-color: hsl(170, 84%, 10%);
  }
  .form-btn:focus-within {
    outline: solid 1px black;
  }
}
